login {
    .login-content{
        background-image : url('/assets/img/login-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login-box{
        width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
        background:#0A192A;
        border-radius:0.4em;
        border:1px solid #0A192A;
        overflow:hidden;
        box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);        
    }
}