<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>69282249466-tsdkb3mthd2l2kubp57i9h41tm8mepkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69282249466-tsdkb3mthd2l2kubp57i9h41tm8mepkd</string>
	<key>API_KEY</key>
	<string>AIzaSyCE_2gIgA9Gr6ZY7vw_dapzceXXn0DIMwc</string>
	<key>GCM_SENDER_ID</key>
	<string>69282249466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplepos.simplepos</string>
	<key>PROJECT_ID</key>
	<string>simple-pos-1d8a6</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-pos-1d8a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69282249466:ios:dd58dbdd3648985e</string>
	<key>DATABASE_URL</key>
	<string>https://simple-pos-1d8a6.firebaseio.com</string>
</dict>
</plist>