<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-Align:center">Staffs Time Logs Management</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-md-3>
            <strong>Employee</strong>
          </ion-col>
          <ion-col col-md-3>
            <strong>Store</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Checked In</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Checked Out</strong>
          </ion-col>
          <ion-col col-md-1>
            <strong>More...</strong>
          </ion-col>
          <ion-col col-md-1>
            <strong></strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-group *ngFor="let day of timeLogs | keys">
      <ion-item-divider color="light">{{ day.key }}</ion-item-divider>
      <ion-item *ngFor="let employee of day.value | keys">
        <group-employee-timelog 
          [data]="{ timeLogs: employee.value, dateKey: day.key, employeeKey: employee.key }"
          (viewLogs)="viewLogs($event)"
          (removeAll)="removeAll($event)">
        </group-employee-timelog>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>   -->

</ion-content>