<ion-header>
  <ion-toolbar>
    <ion-title>
      File List
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row *ngIf="savedParentNativeURLs.length">
            <ion-col>
                <button ion-button (click)="goUp()">Back</button>
            </ion-col>
        </ion-row>
        <ion-list>
            <button ion-item *ngFor="let file of files" (click)="goDown(file)">
                <ion-icon *ngIf="file.isDirectory" name="folder" item-start></ion-icon>
                <ion-icon *ngIf="file.isFile" name="document" item-start></ion-icon>
                {{file.name}}
            </button>
        </ion-list>
    </ion-grid>

</ion-content>