<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="lefMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end network-monitor></ion-buttons>
    <ion-title class="ion-title-center">Staff Attendance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-md-3>
        <ion-select class="white-bg full-width" [(ngModel)]="selectedTimeframe" (ngModelChange)="selectedTimeframe !== 'CUSTOM' && loadStaffAttendanceReport()">
          <ion-option *ngFor="let timeframe of timeframes" [value]="timeframe.value">{{ timeframe.text }}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-md-3>
        <ion-select class="white-bg full-width" [(ngModel)]="selectedStore" (ngModelChange)="loadStaffAttendanceReport()">
          <ion-option *ngFor="let location of locations" [value]="location.value">{{ location.text }}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-md-5 *ngIf="employee.length>0">
        <ion-select [(ngModel)]="employeeIDs" multiple="true" (ngModelChange)="loadStaffAttendanceReport()">
          <ion-option *ngFor="let emp of employee ; let idx=index" value={{emp._id}}>{{emp.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedTimeframe === 'CUSTOM' ">
      <ion-col>
        <ion-item>
          <ion-label stacked>From</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="fromDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked>To</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="toDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <button [disabled]="!fromDate || !toDate || fromDate > toDate" ion-button (click)="loadStaffAttendanceReport()">Calculate</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>Report generated {{reportGeneratedTime | date: 'EEEE, d MMMM y'}} at {{reportGeneratedTime | date: 'h:mm'}} </span>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="stock-header">
      <ion-col>
        Day Date
      </ion-col>
      <ion-col *ngFor="let emp of employee">
        {{emp.name}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let day of days; let idrow= index" padding-top>
      <ion-col>
        {{day.daydate}}  {{day.Employee[0]?day.Employee[0].storeName:""}}
      </ion-col>
      <ion-col *ngFor="let emp of day.Employee; let idcol= index" (click)="onButtonClick(idrow)">
        Working: {{emp.attendance.working}} Break: {{emp.attendance.break}}
        <div *ngIf="detailRowToShow == idrow">
          <p *ngFor="let attDetail of emp.attendanceDetails">
            {{attDetail.key}}: {{attDetail.value | localDate:'h:mm a' }}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>