@import '../../theme/variables';
@import '../../theme/variables.barber';
@import '../../theme/variables.coffee-shop';

basket {
  background-color: $basket-background-color;
  -moz-box-shadow:    2px 2px 10px 3px #ccc;
  -webkit-box-shadow: 2px 2px 10px 3px #ccc;
  box-shadow:         2px 2px 10px 3px #ccc;
}

.basket {
  height: 100%;

  .actions-container {
    height: 20%;
    ion-grid {
      ion-row.action-buttons {
        text-align: center;
        ion-col {
          max-width: 14%;
          border-radius: 65px;
          ion-icon {
            font-size:30px;
          }

          button {
            padding: 0 6px;
          }
        }
      }
      ion-row.customer-info {
        font-weight: bold;
        ion-col {
        }
      }
    }
  }
  .products-container {
    height: 52%;
    overflow-y: scroll;
    ion-item {
      border: 1px solid white;
      border-radius: 11px;
      margin-bottom: 5px;

      .seperator {
        border-left: 2px solid grey;
      }
    }
  }
  .payment-container {
    height: 21%;
    padding-top: 2%;
    ion-grid {
      margin: 0px;
      padding: 0px;
      font-weight: bold;

      ion-row {
        border-bottom: 1px solid #BEBCBE;
        &.totalDiscount {
          background-color: darkseagreen !important;
        }
      }

    }
  }
  .name {
    overflow:hidden;
    white-space:normal;
    font-weight: 500;
  }
  .change-large{
    font-size:20px;
  }
}

.pay-button {
  padding-bottom: 0px;
  height: 40px;
  font-family: "Segoe UI Semibold";
  color: #000000;
}

.pay-button > span{
  text-align: left;
}

.pay {
  background-color: color($colors, primary)
}

.return {
  background-color: color($colors, danger);
}

#park-sale {
  @extend .link;
  margin-right: 2em;
}

.group-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
}

.group-item-start {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.group-item-mid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.group-item-end {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
}

.customer-container {
  position: relative;
}

ion-searchbar.searchbar-md {
  background: inherit;
  padding: 0;
}

.list-md {
  margin: 0px;
}
ion-item.item-md.item-block .item-inner {
  padding-right: 0px;
  border-bottom: 0px;
}

.modifier-item{
  font-size: 12px;
  color: gray;
}




// Themes //

.barber {

  basket {
    background-color: $basket-background-color-barber;
  }

  .basket {
    .pay-button {
      &.fast {
        background-color: $fast-payment-button-barber;
      }
    }
    .actions-container {
      ion-grid {
        ion-row.action-buttons {
          ion-col {
            background-color: $action-toolbar-background-color-barber;
          }
        }
      }
    }
    .products-container {
      ion-item {
        background-color: $basket-tile-background-color-barber !important;
        &.selected{
          background-color: $basket-tile-item-selected-barber !important;
        }
      }
    }
    .payment-container {
      ion-row {
        background-color: $basket-tile-background-color-barber !important;
      }
    }
  }
}


.coffee-shop {

  basket {
    background-color: $basket-background-color-coffee-shop;
  }
  .basket {

    .pay-button {
      &.fast {
        background-color: $fast-payment-button-coffee-shop;
      }
    }
    .actions-container {
      ion-grid {
        ion-row.action-buttons {
          ion-col {
            background-color: $action-toolbar-background-color-coffee-shop;
          }
        }
      }
    }
    .products-container {
      ion-item {
        background-color: $basket-tile-background-color-coffee-shop !important;
        &.selected{
          background-color: $basket-tile-item-selected-coffee-shop !important;
        }
      }
    }
    .payment-container {
      ion-row {
        background-color: $basket-tile-background-color-coffee-shop !important;
      }
    }
  }

}

// Themes //