@import '../../theme/variables';

.basket {
    background-color: $basket-background-color;

    .name {
      font-weight: 500;
    }
}

.top-component {
  overflow-y: scroll;
  height: 338px;
  position: absolute;
  
}

.bottom-component {
  position: absolute;
  bottom: 0;
}

#park-sale {
  @extend .link;
  margin-right: 2em;
}