<ion-grid class="action-buttons basket">
  <ion-row>
    <ion-col class="pull-right">
      <button ion-button clear (click)="parkSale()" [disabled]="invoice.items.length == 0">
        <ion-icon name="pause"></ion-icon>
      </button>
      <button ion-button clear (click)="discardSale()" [disabled]="invoice.items.length == 0">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="top-component basket">
  <ion-row>
    <ion-col col-12>
      <ion-list>
        <!-- Items in the bucket [start] -->
        <ion-item *ngFor="let item of invoice.items; let $index=index">

          <ion-grid>
            <ion-row (click)="viewInfo(item, $index)">
              <ion-col col-md-1>
                {{item.quantity}}
              </ion-col>
              <ion-col col-md-4 class="name">
                {{item.name}}
              </ion-col>
              <ion-col col-md-3 offset-md-3 class="pull-right">
                <span>${{item.finalPrice * item.quantity | number : '1.2-2'}}</span>
                <br/>
                <span *ngIf="item.actualPrice != item.finalPrice">
                  <small><s>${{item.actualPrice * item.quantity | number : '1.2-2'}}</s></small>
                </span>
              </ion-col>
              <ion-col col-md-1 class="pull-right">
                <ion-icon name="trash" class="clickable" (click)="removeItem(item, $index)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- Items in the bucket [end] -->

      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="bottom-component basket">
  <ion-row>
    <ion-col col-md-12>
      <hr/>
      <ion-textarea [(ngModel)]="invoice.notes" (change)="syncInvoice()" placeholder="Add Sale Notes...">
      </ion-textarea>
    </ion-col>
    <ion-col col-md-3>Discount</ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">
      ${{0.00 | number : '1.2-2'}}
    </ion-col>

    <ion-col col-md-3>Subtotal</ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">${{invoice.subTotal | number : '1.2-2'}}</ion-col>

    <ion-col col-md-3 [ngPlural]="invoice.items.length">
      <ng-template ngPluralCase="=0">Tax</ng-template>
      <ng-template ngPluralCase="=1">Total <small>({{invoice.items[0].tax.name}})</small></ng-template>
      <ng-template ngPluralCase="other">Total <small>({{invoice.items.length}} taxes)</small></ng-template>
    </ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">${{invoice.tax | number : '1.2-2'}}</ion-col>

    <ion-col col-md-12>
      <hr/>
    </ion-col>
    <ion-col col-md-3 [ngPlural]="invoice.items.length">
      <ng-template ngPluralCase="=0">Total <small>(no items)</small></ng-template>
      <ng-template ngPluralCase="=1">Total <small>(1 item)</small></ng-template>
      <ng-template ngPluralCase="other">Total <small>({{invoice.items.length}} items)</small></ng-template>
    </ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">${{invoice.taxTotal | number : '1.2-2'}}</ion-col>
    <ion-col col-md-12 no-padding>
      <button ion-button danger block padding (click)="gotoPayment()" class="pay-button"
        [disabled]="disablePaymentBtn"
        [ngClass]="{ 'pay': invoice.taxTotal > 0, 'return': invoice.taxTotal < 0 }">
        <span class="button-inner pull-right" style="text-align: left">
            {{ payBtnText }} &nbsp;&nbsp; ${{balance | number : '1.2-2'}}
        </span>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>