<ion-grid class="action-buttons basket">
  <ion-row>
    <ion-col class="pull-right">
      <button ion-button clear (click)="parkSale()" [disabled]="invoice.items.length == 0">
        <ion-icon name="pause"></ion-icon>
      </button>
      <button ion-button clear (click)="discardSale()" [disabled]="invoice.items.length == 0">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="top-component basket">
  <ion-row>
    <ion-col col-12>
      <ion-list>
        <!-- Items in the bucket [start] -->
        <ion-item *ngFor="let item of invoice.items; let $index=index" [ngClass]="{active: isItemShown(item._id)}">

          <ion-grid>
            <ion-row (click)="toggleItem(item._id)">
              <ion-col col-md-1>
                {{item.quantity}}
              </ion-col>
              <ion-col col-md-4 class="name">
                {{item.name}}
              </ion-col>
              <ion-col col-md-3 offset-md-3 class="pull-right">
                <span>${{item.finalPrice * item.quantity | number : '1.2-2'}}</span>
                <br/>
                <span *ngIf="item.actualPrice != item.finalPrice">
                  <small><s>${{item.actualPrice * item.quantity | number : '1.2-2'}}</s></small>
                </span>
              </ion-col>
              <ion-col col-md-1 class="pull-right">
                <ion-icon name="trash" class="clickable" (click)="removeItem(item, $index)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div *ngIf="isItemShown(item._id)">
            <ion-grid>
              <ion-row>

                <!-- Quantity -->
                <ion-col col-md-4>
                  <ion-item item-content>
                    <ion-label color="primary" stacked>Quantity</ion-label>
                    <ion-input type="number" [(ngModel)]="item.quantity" (change)="addQuantity(item);">
                    </ion-input>
                  </ion-item>
                </ion-col>

                <!-- Price -->
                <ion-col col-md-4>
                  <ion-item item-content>
                    <ion-label color="primary" stacked>Price</ion-label>
                    <ion-input type="text" [disabled]="item.quantity < 0" [(ngModel)]="item.finalPrice" (change)="updatePrice(item)">
                    </ion-input>
                  </ion-item>
                </ion-col>

                <!-- Discount -->
                <ion-col col-md-4>
                  <ion-item item-content>
                    <ion-label color="primary" stacked>Discount(%)</ion-label>
                    <ion-input type="number" [disabled]="item.quantity < 0" [ngModel]="item.discount" min="0" max="99" (ngModelChange)="item.discount = $event" (change)="calculateDiscount(item)"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col col-md-12>
                  <ion-item item-content>
                    <ion-label color="primary" stacked>Notes</ion-label>
                    <ion-textarea [(ngModel)]="item.notes" placeholder="Type to add notes...">
                    </ion-textarea>
                  </ion-item>
                </ion-col>

              </ion-row>
            </ion-grid>
          </div>
        </ion-item>
        <!-- Items in the bucket [end] -->

      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="bottom-component basket">
  <ion-row>
    <ion-col col-md-12>
      <hr/>
      <ion-textarea [(ngModel)]="invoice.notes" (change)="syncInvoice()" placeholder="Add Sale Notes...">
      </ion-textarea>
    </ion-col>
    <ion-col col-md-3>Discount</ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">
      ${{invoice.totalDiscount | number : '1.2-2'}}
    </ion-col>

    <ion-col col-md-3>Subtotal</ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">${{invoice.subTotal | number : '1.2-2'}}</ion-col>

    <ion-col col-md-3>Tax (GST {{tax}}%)</ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">${{invoice.taxTotal - invoice.subTotal | number : '1.2-2'}}</ion-col>

    <ion-col col-md-12>
      <hr/>
    </ion-col>
    <ion-col col-md-3>Total</ion-col>
    <ion-col col-md-3 offset-md-6 class="pull-right">${{invoice.taxTotal | number : '1.2-2'}}</ion-col>
    <ion-col col-md-12 no-padding>
      <button ion-button danger block padding (click)="gotoPayment()" class="pay-button"
        [disabled]="balance == 0"
        [ngClass]="{ 'pay': invoice.taxTotal > 0, 'return': invoice.taxTotal < 0 }">
        <span class="button-inner pull-right" style="text-align: left">
            {{ invoice.taxTotal < 0 ? 'Return' : 'Pay' }} &nbsp;&nbsp; ${{balance | number : '1.2-2'}}
        </span>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>