<ion-header>
  <ion-navbar>
    <ion-title>Services</ion-title>
    <button ion-button icon-only menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="showDetail()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row *ngIf="searchFilters.length">
    <ion-col [attr.col-md-10]="filter.type == 'Text' ? '' : undefined" [attr.col-md-2]="filter.type == 'Boolean' ? '' : undefined" *ngFor="let filter of searchFilters">
      <ion-searchbar  *ngIf="filter.type == 'Text'" [(ngModel)]="models[filter['variableName']]" debounce="500" animated="true" placeholder="{{filter.placeholderText}}" (ionInput)="searchByText(filter, models[filter['variableName']])"></ion-searchbar>
      <ion-select *ngIf="filter.type =='Boolean'" [(ngModel)]="models[filter['variableName']]" (ngModelChange)="filterList(filter, models[filter['variableName']] )">
        <ion-option *ngFor="let status of statusList" [value]="status.value">{{ status.text }}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-md-3>
            <strong>Service Name</strong>
          </ion-col>
          <ion-col col-md-3>
            <strong>SKU/Barcode</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Retail Price</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Updated At</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list inset *ngFor="let service of items ; let idx=index">
    <ion-item-sliding class="sliding" cancelable=true>
      <ion-item (click)="showDetail(service)">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let column of displayColumns;" col-md-3>{{service[column.variableName]}}</ion-col>
            <ion-col *ngIf="service.retailPrice != null" col-md-2>{{ isTaxInclusive && service.inclusivePrice || service.retailPrice }}</ion-col>
            <ion-col *ngIf="service.retailPrice == null" col-md-2><ion-spinner name="dots"></ion-spinner></ion-col>
            <ion-col col-md-2>{{ service._id | localDate }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options>
        <button ion-button color='danger' (click)="remove(service, idx)" icon=left>
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="fetchMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>