.icon-barbc {
    max-width: 50px;
    margin: auto;
    background-image: url(../assets/icons/barbc/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-barbc-barber-shop {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}

.icon-barbc-barber-shop-1 {
    width: 50px;
    height: 50px;
    background-position: -65px -5px;
}

.icon-barbc-barbershop {
    width: 50px;
    height: 50px;
    background-position: -125px -5px;
}

.icon-barbc-beard {
    width: 50px;
    height: 50px;
    background-position: -185px -5px;
}

.icon-barbc-blade {
    width: 50px;
    height: 50px;
    background-position: -245px -5px;
}

.icon-barbc-bow-tie {
    width: 50px;
    height: 50px;
    background-position: -305px -5px;
}

.icon-barbc-boy {
    width: 50px;
    height: 50px;
    background-position: -365px -5px;
}

.icon-barbc-brush {
    width: 50px;
    height: 50px;
    background-position: -5px -65px;
}

.icon-barbc-clock {
    width: 50px;
    height: 50px;
    background-position: -65px -65px;
}

.icon-barbc-comb {
    width: 50px;
    height: 50px;
    background-position: -125px -65px;
}

.icon-barbc-comb-1 {
    width: 50px;
    height: 50px;
    background-position: -185px -65px;
}

.icon-barbc-comb-2 {
    width: 50px;
    height: 50px;
    background-position: -245px -65px;
}

.icon-barbc-comb-3 {
    width: 50px;
    height: 50px;
    background-position: -305px -65px;
}

.icon-barbc-cream {
    width: 50px;
    height: 50px;
    background-position: -365px -65px;
}

.icon-barbc-cream-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
}

.icon-barbc-cream-2 {
    width: 50px;
    height: 50px;
    background-position: -65px -125px;
}

.icon-barbc-cream-3 {
    width: 50px;
    height: 50px;
    background-position: -125px -125px;
}

.icon-barbc-gel {
    width: 50px;
    height: 50px;
    background-position: -185px -125px;
}

.icon-barbc-girl {
    width: 50px;
    height: 50px;
    background-position: -245px -125px;
}

.icon-barbc-hair-brush {
    width: 50px;
    height: 50px;
    background-position: -305px -125px;
}

.icon-barbc-hair-brush-1 {
    width: 50px;
    height: 50px;
    background-position: -365px -125px;
}

.icon-barbc-hair-clip {
    width: 50px;
    height: 50px;
    background-position: -5px -185px;
}

.icon-barbc-hair-cream {
    width: 50px;
    height: 50px;
    background-position: -65px -185px;
}

.icon-barbc-hair-curler {
    width: 50px;
    height: 50px;
    background-position: -125px -185px;
}

.icon-barbc-hair-dryer {
    width: 50px;
    height: 50px;
    background-position: -185px -185px;
}

.icon-barbc-hair-pin {
    width: 50px;
    height: 50px;
    background-position: -245px -185px;
}

.icon-barbc-hair-salon {
    width: 50px;
    height: 50px;
    background-position: -305px -185px;
}

.icon-barbc-hairbrush {
    width: 50px;
    height: 50px;
    background-position: -365px -185px;
}

.icon-barbc-hairbrush-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -245px;
}

.icon-barbc-hairbrush-2 {
    width: 50px;
    height: 50px;
    background-position: -65px -245px;
}

.icon-barbc-hand-mirror {
    width: 50px;
    height: 50px;
    background-position: -125px -245px;
}

.icon-barbc-hot-stones {
    width: 50px;
    height: 50px;
    background-position: -185px -245px;
}

.icon-barbc-lotion {
    width: 50px;
    height: 50px;
    background-position: -245px -245px;
}

.icon-barbc-man {
    width: 50px;
    height: 50px;
    background-position: -305px -245px;
}

.icon-barbc-mirror {
    width: 50px;
    height: 50px;
    background-position: -365px -245px;
}

.icon-barbc-mirror-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -305px;
}

.icon-barbc-moustache {
    width: 50px;
    height: 50px;
    background-position: -65px -305px;
}

.icon-barbc-oil-bottle {
    width: 50px;
    height: 50px;
    background-position: -125px -305px;
}

.icon-barbc-perfume {
    width: 50px;
    height: 50px;
    background-position: -185px -305px;
}

.icon-barbc-razor {
    width: 50px;
    height: 50px;
    background-position: -245px -305px;
}

.icon-barbc-razor-1 {
    width: 50px;
    height: 50px;
    background-position: -305px -305px;
}

.icon-barbc-razor-2 {
    width: 50px;
    height: 50px;
    background-position: -365px -305px;
}

.icon-barbc-scissors {
    width: 50px;
    height: 50px;
    background-position: -5px -365px;
}

.icon-barbc-scissors-1 {
    width: 50px;
    height: 50px;
    background-position: -65px -365px;
}

.icon-barbc-shampoo {
    width: 50px;
    height: 50px;
    background-position: -125px -365px;
}

.icon-barbc-soap {
    width: 50px;
    height: 50px;
    background-position: -185px -365px;
}

.icon-barbc-soap-1 {
    width: 50px;
    height: 50px;
    background-position: -245px -365px;
}

.icon-barbc-spray-bottle {
    width: 50px;
    height: 50px;
    background-position: -305px -365px;
}

.icon-barbc-straighten {
    width: 50px;
    height: 50px;
    background-position: -365px -365px;
}

.icon-barbc-towel {
    width: 50px;
    height: 50px;
    background-position: -425px -5px;
}

.icon-cffshp-coffee-shop {
    width: 50px;
    height: 50px;
    background-position: -605px -5px;
}

.icon-cffshp-blender {
    width: 50px;
    height: 50px;
    background-position: -665px -5px;
}

.icon-cffshp-croissant {
    width: 50px;
    height: 50px;
    background-position: -725px -5px;
}

.icon-cffshp-teapot {
    width: 50px;
    height: 50px;
    background-position: -785px -5px;
}

.icon-cffshp-chocolate {
    width: 50px;
    height: 50px;
    background-position: -845px -5px;
}

.icon-cffshp-espresso {
    width: 50px;
    height: 50px;
    background-position: -905px -5px;
}

.icon-cffshp-cookies {
    width: 50px;
    height: 50px;
    background-position: -965px -5px;
}

.icon-cffshp-sugar-1 {
    width: 50px;
    height: 50px;
    background-position: -605px -65px;
}

.icon-cffshp-barman {
    width: 50px;
    height: 50px;
    background-position: -665px -65px;
}

.icon-cffshp-hot-chocolate {
    width: 50px;
    height: 50px;
    background-position: -725px -65px;
}

.icon-cffshp-couch {
    width: 50px;
    height: 50px;
    background-position: -785px -65px;
}

.icon-cffshp-coffee-10 {
    width: 50px;
    height: 50px;
    background-position: -845px -65px;
}

.icon-cffshp-coffee-9 {
    width: 50px;
    height: 50px;
    background-position: -905px -65px;
}

.icon-cffshp-irish-coffee {
    width: 50px;
    height: 50px;
    background-position: -965px -65px;
}

.icon-cffshp-coffee-8 {
    width: 50px;
    height: 50px;
    background-position: -605px -125px;
}

.icon-cffshp-coffee-7 {
    width: 50px;
    height: 50px;
    background-position: -665px -125px;
}

.icon-cffshp-pie {
    width: 50px;
    height: 50px;
    background-position: -725px -125px;
}

.icon-cffshp-coffee-6 {
    width: 50px;
    height: 50px;
    background-position: -785px -125px;
}

.icon-cffshp-clock-2 {
    width: 50px;
    height: 50px;
    background-position: -845px -125px;
}

.icon-cffshp-lemonade {
    width: 50px;
    height: 50px;
    background-position: -905px -125px;
}

.icon-cffshp-milkshake {
    width: 50px;
    height: 50px;
    background-position: -965px -125px;
}

.icon-cffshp-coffee-machine {
    width: 50px;
    height: 50px;
    background-position: -605px -185px;
}

.icon-cffshp-tea-bag {
    width: 50px;
    height: 50px;
    background-position: -665px -185px;
}

.icon-cffshp-muffin {
    width: 50px;
    height: 50px;
    background-position: -725px -185px;
}

.icon-cffshp-coffee-5 {
    width: 50px;
    height: 50px;
    background-position: -785px -185px;
}

.icon-cffshp-frappe {
    width: 50px;
    height: 50px;
    background-position: -845px -185px;
}

.icon-cffshp-pudding {
    width: 50px;
    height: 50px;
    background-position: -905px -185px;
}

.icon-cffshp-mixer {
    width: 50px;
    height: 50px;
    background-position: -965px -185px;
}

.icon-cffshp-shaker {
    width: 50px;
    height: 50px;
    background-position: -605px -245px;
}

.icon-cffshp-bartender {
    width: 50px;
    height: 50px;
    background-position: -665px -245px;
}

.icon-cffshp-chalkboard {
    width: 50px;
    height: 50px;
    background-position: -725px -245px;
}

.icon-cffshp-coffee-4 {
    width: 50px;
    height: 50px;
    background-position: -785px -245px;
}

.icon-cffshp-french-press {
    width: 50px;
    height: 50px;
    background-position: -845px -245px;
}

.icon-cffshp-wifi {
    width: 50px;
    height: 50px;
    background-position: -905px -245px;
}

.icon-cffshp-meringue {
    width: 50px;
    height: 50px;
    background-position: -965px -245px;
}

.icon-cffshp-liquor {
    width: 50px;
    height: 50px;
    background-position: -605px -305px;
}

.icon-cffshp-coffee-3 {
    width: 50px;
    height: 50px;
    background-position: -665px -305px;
}

.icon-cffshp-coffee-2 {
    width: 50px;
    height: 50px;
    background-position: -725px -305px;
}

.icon-cffshp-sugar {
    width: 50px;
    height: 50px;
    background-position: -785px -305px;
}

.icon-cffshp-cake {
    width: 50px;
    height: 50px;
    background-position: -845px -305px;
}

.icon-cffshp-cookie {
    width: 50px;
    height: 50px;
    background-position: -905px -305px;
}

.icon-cffshp-coffee-beans {
    width: 50px;
    height: 50px;
    background-position: -965px -305px;
}

.icon-cffshp-cappuccino {
    width: 50px;
    height: 50px;
    background-position: -605px -365px;
}

.icon-cffshp-grinder {
    width: 50px;
    height: 50px;
    background-position: -665px -365px;
}

.icon-cffshp-coffee-cup {
    width: 50px;
    height: 50px;
    background-position: -725px -365px;
}

.icon-cffshp-tea-cup {
    width: 50px;
    height: 50px;
    background-position: -785px -365px;
}

.icon-cffshp-smoothie {
    width: 50px;
    height: 50px;
    background-position: -845px -365px;
}

.icon-cffshp-coffee-1 {
    width: 50px;
    height: 50px;
    background-position: -905px -365px;
}

.icon-cffshp-coffee {
    width: 50px;
    height: 50px;
    background-position: -965px -365px;
}

.icon-cffshp-milk {
    width: 50px;
    height: 50px;
    background-position: -1025px -5px;
}

.icon-cffshp-breakfast {
    width: 50px;
    height: 50px;
    background-position: -1025px -65px;
}

.icon-cffshp-burger {
    width: 50px;
    height: 50px;
    background-position: -1025px -125px;
}

.icon-cffshp-hotdog {
    width: 50px;
    height: 50px;
    background-position: -1025px -185px;
}

.icon-cffshp-sandwich {
    width: 50px;
    height: 50px;
    background-position: -1025px -245px;
}

.icon-cffshp-food {
    width: 50px;
    height: 50px;
    background-position: -1025px -305px;
}

.icon-cffshp-protein {
    width: 50px;
    height: 50px;
    background-position: -1025px -365px;
}

.icon-cffshp-sweet {
    width: 50px;
    height: 50px;
    background-position: -1085px -5px;
}

.icon-cffshp-biscuit {
    width: 50px;
    height: 50px;
    background-position: -1085px -65px;
}

.icon-cffshp-muffin-2 {
    width: 50px;
    height: 50px;
    background-position: -1085px -125px;
}

.icon-cffshp-coke {
    width: 50px;
    height: 50px;
    background-position: -1085px -185px;
}

.icon-cffshp-coke-1 {
    width: 50px;
    height: 50px;
    background-position: -1085px -245px;
}

.icon-cffshp-water {
    width: 50px;
    height: 50px;
    background-position: -1085px -305px;
}

.icon-cffshp-wine-bottle {
    width: 50px;
    height: 50px;
    background-position: -1085px -365px;
}

.icon-cffshp-wine {
    width: 50px;
    height: 50px;
    background-position: -1145px -5px;
}

.icon-cffshp-cake-2 {
    width: 50px;
    height: 50px;
    background-position: -1145px -65px;
}

.icon-cffshp-food-1 {
    width: 50px;
    height: 50px;
    background-position: -1145px -125px;
}

.icon-cffshp-smoothie-2 {
    width: 50px;
    height: 50px;
    background-position: -1145px -185px;
}

.icon-cffshp-tea {
    width: 50px;
    height: 50px;
    background-position: -1145px -245px;
}

.icon-cffshp-tea-1 {
    width: 50px;
    height: 50px;
    background-position: -1145px -305px;
}

.icon-cffshp-fruit {
    width: 50px;
    height: 50px;
    background-position: -1145px -365px;
}

.icon-cffshp-sandwich-1 {
    width: 50px;
    height: 50px;
    background-position: -1205px -5px;
}

.icon-cffshp-burger-2 {
    width: 50px;
    height: 50px;
    background-position: -1205px -65px;
}

.icon-cffshp-salad {
    width: 50px;
    height: 50px;
    background-position: -1205px -125px;
}

.icon-cffshp-burger-1 {
    width: 50px;
    height: 50px;
    background-position: -1205px -185px;
}

.icon-cffshp-burger-3 {
    width: 50px;
    height: 50px;
    background-position: -1205px -245px;
}

.icon-cffshp-wine-1 {
    width: 50px;
    height: 50px;
    background-position: -1205px -305px;
}

.icon-cffshp-wine-2 {
    width: 50px;
    height: 50px;
    background-position: -1205px -365px;
}

.icon-cffshp-alcohol {
    width: 50px;
    height: 50px;
    background-position: -1265px -5px;
}

.icon-cffshp-meat {
    width: 50px;
    height: 50px;
    background-position: -1265px -65px;
}

.icon-cffshp-bacon {
    width: 50px;
    height: 50px;
    background-position: -1265px -125px;
}

.icon-cffshp-breakfast-1 {
    width: 50px;
    height: 50px;
    background-position: -1265px -185px;
}

.icon-cffshp-jam {
    width: 50px;
    height: 50px;
    background-position: -1265px -245px;
}

.icon-cffshp-jam-1 {
    width: 50px;
    height: 50px;
    background-position: -1265px -305px;
}

.icon-cffshp-tea-2 {
    width: 50px;
    height: 50px;
    background-position: -1265px -365px;
}

.icon-cffshp-coffee-11 {
    width: 50px;
    height: 50px;
    background-position: -1325px -5px;
}

.icon-cffshp-coffee-cup-2 {
    width: 50px;
    height: 50px;
    background-position: -1325px -65px;
}

.icon-cffshp-tea-cup-2 {
    width: 50px;
    height: 50px;
    background-position: -1325px -125px;
}

.icon-cffshp-coffee-12 {
    width: 50px;
    height: 50px;
    background-position: -1325px -185px;
}

.icon-cffshp-tea-3 {
    width: 50px;
    height: 50px;
    background-position: -1325px -245px;
}

.icon-cffshp-coffee-13 {
    width: 50px;
    height: 50px;
    background-position: -1325px -305px;
}

.icon-cffshp-cappuccino-2 {
    width: 50px;
    height: 50px;
    background-position: -1325px -365px;
}