.icon-barbc {
    max-width: 50px;
    margin: auto;
    background-image: url(../../assets/icons/barbc/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-barbc-barber-shop {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}

.icon-barbc-barber-shop-1 {
    width: 50px;
    height: 50px;
    background-position: -65px -5px;
}

.icon-barbc-barbershop {
    width: 50px;
    height: 50px;
    background-position: -125px -5px;
}

.icon-barbc-beard {
    width: 50px;
    height: 50px;
    background-position: -185px -5px;
}

.icon-barbc-blade {
    width: 50px;
    height: 50px;
    background-position: -245px -5px;
}

.icon-barbc-bow-tie {
    width: 50px;
    height: 50px;
    background-position: -305px -5px;
}

.icon-barbc-boy {
    width: 50px;
    height: 50px;
    background-position: -365px -5px;
}

.icon-barbc-brush {
    width: 50px;
    height: 50px;
    background-position: -5px -65px;
}

.icon-barbc-clock {
    width: 50px;
    height: 50px;
    background-position: -65px -65px;
}

.icon-barbc-comb {
    width: 50px;
    height: 50px;
    background-position: -125px -65px;
}

.icon-barbc-comb-1 {
    width: 50px;
    height: 50px;
    background-position: -185px -65px;
}

.icon-barbc-comb-2 {
    width: 50px;
    height: 50px;
    background-position: -245px -65px;
}

.icon-barbc-comb-3 {
    width: 50px;
    height: 50px;
    background-position: -305px -65px;
}

.icon-barbc-cream {
    width: 50px;
    height: 50px;
    background-position: -365px -65px;
}

.icon-barbc-cream-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
}

.icon-barbc-cream-2 {
    width: 50px;
    height: 50px;
    background-position: -65px -125px;
}

.icon-barbc-cream-3 {
    width: 50px;
    height: 50px;
    background-position: -125px -125px;
}

.icon-barbc-gel {
    width: 50px;
    height: 50px;
    background-position: -185px -125px;
}

.icon-barbc-girl {
    width: 50px;
    height: 50px;
    background-position: -245px -125px;
}

.icon-barbc-hair-brush {
    width: 50px;
    height: 50px;
    background-position: -305px -125px;
}

.icon-barbc-hair-brush-1 {
    width: 50px;
    height: 50px;
    background-position: -365px -125px;
}

.icon-barbc-hair-clip {
    width: 50px;
    height: 50px;
    background-position: -5px -185px;
}

.icon-barbc-hair-cream {
    width: 50px;
    height: 50px;
    background-position: -65px -185px;
}

.icon-barbc-hair-curler {
    width: 50px;
    height: 50px;
    background-position: -125px -185px;
}

.icon-barbc-hair-dryer {
    width: 50px;
    height: 50px;
    background-position: -185px -185px;
}

.icon-barbc-hair-pin {
    width: 50px;
    height: 50px;
    background-position: -245px -185px;
}

.icon-barbc-hair-salon {
    width: 50px;
    height: 50px;
    background-position: -305px -185px;
}

.icon-barbc-hairbrush {
    width: 50px;
    height: 50px;
    background-position: -365px -185px;
}

.icon-barbc-hairbrush-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -245px;
}

.icon-barbc-hairbrush-2 {
    width: 50px;
    height: 50px;
    background-position: -65px -245px;
}

.icon-barbc-hand-mirror {
    width: 50px;
    height: 50px;
    background-position: -125px -245px;
}

.icon-barbc-hot-stones {
    width: 50px;
    height: 50px;
    background-position: -185px -245px;
}

.icon-barbc-lotion {
    width: 50px;
    height: 50px;
    background-position: -245px -245px;
}

.icon-barbc-man {
    width: 50px;
    height: 50px;
    background-position: -305px -245px;
}

.icon-barbc-mirror {
    width: 50px;
    height: 50px;
    background-position: -365px -245px;
}

.icon-barbc-mirror-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -305px;
}

.icon-barbc-moustache {
    width: 50px;
    height: 50px;
    background-position: -65px -305px;
}

.icon-barbc-oil-bottle {
    width: 50px;
    height: 50px;
    background-position: -125px -305px;
}

.icon-barbc-perfume {
    width: 50px;
    height: 50px;
    background-position: -185px -305px;
}

.icon-barbc-razor {
    width: 50px;
    height: 50px;
    background-position: -245px -305px;
}

.icon-barbc-razor-1 {
    width: 50px;
    height: 50px;
    background-position: -305px -305px;
}

.icon-barbc-razor-2 {
    width: 50px;
    height: 50px;
    background-position: -365px -305px;
}

.icon-barbc-scissors {
    width: 50px;
    height: 50px;
    background-position: -5px -365px;
}

.icon-barbc-scissors-1 {
    width: 50px;
    height: 50px;
    background-position: -65px -365px;
}

.icon-barbc-shampoo {
    width: 50px;
    height: 50px;
    background-position: -125px -365px;
}

.icon-barbc-soap {
    width: 50px;
    height: 50px;
    background-position: -185px -365px;
}

.icon-barbc-soap-1 {
    width: 50px;
    height: 50px;
    background-position: -245px -365px;
}

.icon-barbc-spray-bottle {
    width: 50px;
    height: 50px;
    background-position: -305px -365px;
}

.icon-barbc-straighten {
    width: 50px;
    height: 50px;
    background-position: -365px -365px;
}

.icon-barbc-towel {
    width: 50px;
    height: 50px;
    background-position: -425px -5px;
}
