.icon-barbc {
    max-width: 50px;
    margin: auto;
    background-image: url(../assets/icons/barbc/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-barbc-barber-shop {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}

.icon-barbc-barber-shop-1 {
    width: 50px;
    height: 50px;
    background-position: -65px -5px;
}

.icon-barbc-barbershop {
    width: 50px;
    height: 50px;
    background-position: -125px -5px;
}

.icon-barbc-beard {
    width: 50px;
    height: 50px;
    background-position: -185px -5px;
}

.icon-barbc-blade {
    width: 50px;
    height: 50px;
    background-position: -245px -5px;
}

.icon-barbc-bow-tie {
    width: 50px;
    height: 50px;
    background-position: -305px -5px;
}

.icon-barbc-boy {
    width: 50px;
    height: 50px;
    background-position: -365px -5px;
}

.icon-barbc-brush {
    width: 50px;
    height: 50px;
    background-position: -5px -65px;
}

.icon-barbc-clock {
    width: 50px;
    height: 50px;
    background-position: -65px -65px;
}

.icon-barbc-comb {
    width: 50px;
    height: 50px;
    background-position: -125px -65px;
}

.icon-barbc-comb-1 {
    width: 50px;
    height: 50px;
    background-position: -185px -65px;
}

.icon-barbc-comb-2 {
    width: 50px;
    height: 50px;
    background-position: -245px -65px;
}

.icon-barbc-comb-3 {
    width: 50px;
    height: 50px;
    background-position: -305px -65px;
}

.icon-barbc-cream {
    width: 50px;
    height: 50px;
    background-position: -365px -65px;
}

.icon-barbc-cream-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
}

.icon-barbc-cream-2 {
    width: 50px;
    height: 50px;
    background-position: -65px -125px;
}

.icon-barbc-cream-3 {
    width: 50px;
    height: 50px;
    background-position: -125px -125px;
}

.icon-barbc-gel {
    width: 50px;
    height: 50px;
    background-position: -185px -125px;
}

.icon-barbc-girl {
    width: 50px;
    height: 50px;
    background-position: -245px -125px;
}

.icon-barbc-hair-brush {
    width: 50px;
    height: 50px;
    background-position: -305px -125px;
}

.icon-barbc-hair-brush-1 {
    width: 50px;
    height: 50px;
    background-position: -365px -125px;
}

.icon-barbc-hair-clip {
    width: 50px;
    height: 50px;
    background-position: -5px -185px;
}

.icon-barbc-hair-cream {
    width: 50px;
    height: 50px;
    background-position: -65px -185px;
}

.icon-barbc-hair-curler {
    width: 50px;
    height: 50px;
    background-position: -125px -185px;
}

.icon-barbc-hair-dryer {
    width: 50px;
    height: 50px;
    background-position: -185px -185px;
}

.icon-barbc-hair-pin {
    width: 50px;
    height: 50px;
    background-position: -245px -185px;
}

.icon-barbc-hair-salon {
    width: 50px;
    height: 50px;
    background-position: -305px -185px;
}

.icon-barbc-hairbrush {
    width: 50px;
    height: 50px;
    background-position: -365px -185px;
}

.icon-barbc-hairbrush-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -245px;
}

.icon-barbc-hairbrush-2 {
    width: 50px;
    height: 50px;
    background-position: -65px -245px;
}

.icon-barbc-hand-mirror {
    width: 50px;
    height: 50px;
    background-position: -125px -245px;
}

.icon-barbc-hot-stones {
    width: 50px;
    height: 50px;
    background-position: -185px -245px;
}

.icon-barbc-lotion {
    width: 50px;
    height: 50px;
    background-position: -245px -245px;
}

.icon-barbc-man {
    width: 50px;
    height: 50px;
    background-position: -305px -245px;
}

.icon-barbc-mirror {
    width: 50px;
    height: 50px;
    background-position: -365px -245px;
}

.icon-barbc-mirror-1 {
    width: 50px;
    height: 50px;
    background-position: -5px -305px;
}

.icon-barbc-moustache {
    width: 50px;
    height: 50px;
    background-position: -65px -305px;
}

.icon-barbc-oil-bottle {
    width: 50px;
    height: 50px;
    background-position: -125px -305px;
}

.icon-barbc-perfume {
    width: 50px;
    height: 50px;
    background-position: -185px -305px;
}

.icon-barbc-razor {
    width: 50px;
    height: 50px;
    background-position: -245px -305px;
}

.icon-barbc-razor-1 {
    width: 50px;
    height: 50px;
    background-position: -305px -305px;
}

.icon-barbc-razor-2 {
    width: 50px;
    height: 50px;
    background-position: -365px -305px;
}

.icon-barbc-scissors {
    width: 50px;
    height: 50px;
    background-position: -5px -365px;
}

.icon-barbc-scissors-1 {
    width: 50px;
    height: 50px;
    background-position: -65px -365px;
}

.icon-barbc-shampoo {
    width: 50px;
    height: 50px;
    background-position: -125px -365px;
}

.icon-barbc-soap {
    width: 50px;
    height: 50px;
    background-position: -185px -365px;
}

.icon-barbc-soap-1 {
    width: 50px;
    height: 50px;
    background-position: -245px -365px;
}

.icon-barbc-spray-bottle {
    width: 50px;
    height: 50px;
    background-position: -305px -365px;
}

.icon-barbc-straighten {
    width: 50px;
    height: 50px;
    background-position: -365px -365px;
}

.icon-barbc-towel {
    width: 50px;
    height: 50px;
    background-position: -425px -5px;
}

.icon-barbc-coffee-shop {
    width: 50px;
    height: 50px;
    background-position: -605px -5px;
}

.icon-barbc-blender {
    width: 50px;
    height: 50px;
    background-position: -665px -5px;
}

.icon-barbc-croissant {
    width: 50px;
    height: 50px;
    background-position: -725px -5px;
}

.icon-barbc-teapot {
    width: 50px;
    height: 50px;
    background-position: -785px -5px;
}

.icon-barbc-chocolate {
    width: 50px;
    height: 50px;
    background-position: -845px -5px;
}

.icon-barbc-espresso {
    width: 50px;
    height: 50px;
    background-position: -905px -5px;
}

.icon-barbc-cookies {
    width: 50px;
    height: 50px;
    background-position: -965px -5px;
}

.icon-barbc-sugar-1 {
    width: 50px;
    height: 50px;
    background-position: -605px -65px;
}

.icon-barbc-barman {
    width: 50px;
    height: 50px;
    background-position: -665px -65px;
}

.icon-barbc-hot-chocolate {
    width: 50px;
    height: 50px;
    background-position: -725px -65px;
}

.icon-barbc-couch {
    width: 50px;
    height: 50px;
    background-position: -785px -65px;
}

.icon-barbc-coffee-10 {
    width: 50px;
    height: 50px;
    background-position: -845px -65px;
}

.icon-barbc-coffee-9 {
    width: 50px;
    height: 50px;
    background-position: -905px -65px;
}

.icon-barbc-irish-coffee {
    width: 50px;
    height: 50px;
    background-position: -965px -65px;
}

.icon-barbc-coffee-8 {
    width: 50px;
    height: 50px;
    background-position: -605px -125px;
}

.icon-barbc-coffee-7 {
    width: 50px;
    height: 50px;
    background-position: -665px -125px;
}

.icon-barbc-pie {
    width: 50px;
    height: 50px;
    background-position: -725px -125px;
}

.icon-barbc-coffee-6 {
    width: 50px;
    height: 50px;
    background-position: -785px -125px;
}

.icon-barbc-clock-2 {
    width: 50px;
    height: 50px;
    background-position: -845px -125px;
}

.icon-barbc-lemonade {
    width: 50px;
    height: 50px;
    background-position: -905px -125px;
}

.icon-barbc-milkshake {
    width: 50px;
    height: 50px;
    background-position: -965px -125px;
}

.icon-barbc-coffee-machine {
    width: 50px;
    height: 50px;
    background-position: -605px -185px;
}

.icon-barbc-tea-bag {
    width: 50px;
    height: 50px;
    background-position: -665px -185px;
}

.icon-barbc-muffin {
    width: 50px;
    height: 50px;
    background-position: -725px -185px;
}

.icon-barbc-coffee-5 {
    width: 50px;
    height: 50px;
    background-position: -785px -185px;
}

.icon-barbc-frappe {
    width: 50px;
    height: 50px;
    background-position: -845px -185px;
}

.icon-barbc-pudding {
    width: 50px;
    height: 50px;
    background-position: -905px -185px;
}

.icon-barbc-mixer {
    width: 50px;
    height: 50px;
    background-position: -965px -185px;
}

.icon-barbc-shaker {
    width: 50px;
    height: 50px;
    background-position: -605px -245px;
}

.icon-barbc-bartender {
    width: 50px;
    height: 50px;
    background-position: -665px -245px;
}

.icon-barbc-chalkboard {
    width: 50px;
    height: 50px;
    background-position: -725px -245px;
}

.icon-barbc-coffee-4 {
    width: 50px;
    height: 50px;
    background-position: -885px -245px;
}

.icon-barbc-french-press {
    width: 50px;
    height: 50px;
    background-position: -845px -245px;
}

.icon-barbc-wifi {
    width: 50px;
    height: 50px;
    background-position: -905px -245px;
}

.icon-barbc-meringue {
    width: 50px;
    height: 50px;
    background-position: -965px -245px;
}

.icon-barbc-liquor {
    width: 50px;
    height: 50px;
    background-position: -605px -305px;
}

.icon-barbc-coffee-3 {
    width: 50px;
    height: 50px;
    background-position: -665px -305px;
}

.icon-barbc-coffee-2 {
    width: 50px;
    height: 50px;
    background-position: -725px -305px;
}

.icon-barbc-sugar {
    width: 50px;
    height: 50px;
    background-position: -785px -305px;
}

.icon-barbc-cake {
    width: 50px;
    height: 50px;
    background-position: -845px -305px;
}

.icon-barbc-cookie {
    width: 50px;
    height: 50px;
    background-position: -905px -305px;
}

.icon-barbc-coffee-beans {
    width: 50px;
    height: 50px;
    background-position: -965px -305px;
}

.icon-barbc-cappuccino {
    width: 50px;
    height: 50px;
    background-position: -605px -365px;
}

.icon-barbc-grinder {
    width: 50px;
    height: 50px;
    background-position: -665px -365px;
}

.icon-barbc-coffee-cup {
    width: 50px;
    height: 50px;
    background-position: -725px -365px;
}

.icon-barbc-tea-cup {
    width: 50px;
    height: 50px;
    background-position: -785px -365px;
}

.icon-barbc-smoothie {
    width: 50px;
    height: 50px;
    background-position: -845px -365px;
}

.icon-barbc-coffee-1 {
    width: 50px;
    height: 50px;
    background-position: -905px -365px;
}

.icon-barbc-coffee {
    width: 50px;
    height: 50px;
    background-position: -965px -365px;
}

.icon-barbc-milk {
    width: 50px;
    height: 50px;
    background-position: -1025px -5px;
}