 .line-graph{
    margin-top: 25px;
    height: 300px;
  }
  .row-border{
    border: 1px solid lightgrey;
    background-color: white;
    padding:5px
  }

  .row-bold-font{
    font-size: 14px;
    font-weight: bold;
  }