<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Category</ion-title>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="categoryForm.ngSubmit.emit()" [disabled]="!categoryForm.form.valid">
        Save
      </button>
      <button ion-button icon-only *ngIf="!isNew" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
    <ion-list inset>
      <ion-item>
        <ion-label class="item-name" stacked>Name*</ion-label>
        <ion-input type="text" [(ngModel)]="categoryItem.name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <color-picker [selectedColor$]="color"></color-picker>
      </ion-item>
      <ion-item>
        <button ion-button type="button" (click)="selectIcon()">Select Icon</button>
        <sp-icon *ngIf="selectedIcon" [icon]="icons[categoryItem.icon.name]"></sp-icon>
        <span *ngIf="selectedIcon">&nbsp;{{ categoryItem.icon.name }}</span>
      </ion-item>
    </ion-list>
    <div class="insert-image">
      <p>
        <image-picker [selectedImage$]="image" [selectedThumbnail$]="thumbnail"></image-picker>
      </p>
    </div>
  </form>
</ion-content>