@import "../../theme/variables";

.tile {
  font-size: 1.4rem;
  background: $tile-background-color;
  display: inline-block;
  border: 1px solid $tile-background-color-border;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  height: 110px;
} 

.tile-content {
  padding-bottom: 0px;
}

