@import "../../theme/variables";
@import "../../theme/variables.barber";
@import "../../theme/variables.coffeeshop";


.tile-col {
  padding: 0px;
}

.tile {
  font-size: 1.4rem;
  background: $tile-background-color;
  display: inline-block;
  border: 1px solid $tile-background-color-border;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  height: 110px;
  margin: 3px;

  .bottom-right {
    position: absolute;
    right: 24px;
    bottom: 12px;
  }

  img{
    margin: 0px;
  }
}

.tile-content {
  padding-bottom: 0px;
}

.tile-editItem {
  position: absolute;
  top: 0;
  right: 14px;
  background-color: transparent !important;
  padding: 16px;
  z-index: 1;
}


// Themes //
.barber {
  .tile {
    background: $tile-background-color-barber;
    border: 1px solid $tile-background-color-border-barber;
  }
}

.coffeeshop {
  .tile {
    background: $tile-background-color-coffeeshop;
    border: 1px solid $tile-background-color-border-coffeeshop;
  }
}
// Themes //