<ion-grid>
  <ion-row *ngIf="allowDragSupport" dnd-sortable-container [sortablejs]="items" [sortablejsOptions]="options">
        <ion-col col-3 col-lg-3 col-md-4 col-sm-6 *ngFor="let tile of items; let i = index" class="tile-col">
            <ion-card *ngIf="!tile.thumbnail" tappable class="tile" [style.background-color]="syncContext.currentPos.productColor[tile._id] || tile.color" (click)="selectItem(tile)">
                <ion-card-content class="tile-content">
                     <sp-icon [icon]="tile.icon"></sp-icon>
                </ion-card-content>

                <button class="tile-editItem" item-right clear (click)="selectColor(tile._id)">
                    <ion-icon name="simpleidea-edit"></ion-icon>
                </button>

                <ion-row>
                    <ion-col center text-center>
                        <h2>{{ tile.name }}</h2>
                    </ion-col>
                </ion-row>
                <span class="bottom-right" *ngIf="tile.isModifier">M</span>
            </ion-card>
            <ion-card *ngIf="tile.thumbnail" tappable class="tile" [ngStyle]="{ 'background-image': 'url(' + tile.thumbnail + ')'}" (click)="selectItem(tile)">
                <ion-card-content class="tile-content">
                </ion-card-content>

                <button class="tile-editItem" item-right clear (click)="selectColor(tile._id)">
                    <ion-icon name="simpleidea-edit"></ion-icon>
                </button>

                <span class="bottom-right" *ngIf="tile.isModifier">M</span>
            </ion-card>
        </ion-col>
    <ion-col text-center *ngIf="items.length === 0">{{ emptyListMessage || 'Please use back office to add new products and services.'}}</ion-col>
  </ion-row>
    <ion-row *ngIf="!allowDragSupport">
        <ion-col col-3 col-lg-3 col-md-4 col-sm-6 *ngFor="let tile of items; let i = index" class="tile-col">
            <ion-card *ngIf="!tile.thumbnail" tappable [class.pulse]="tile === selectedTile" class="tile animated" [style.background-color]="syncContext.currentPos.productColor && syncContext.currentPos.productColor[tile._id] || tile.color" (click)="selectItem(tile)">
                <ion-card-content class="tile-content">
                     <sp-icon [icon]="tile.icon"></sp-icon>
                </ion-card-content>

                <ion-row>
                    <ion-col center text-center>
                        <h2>{{ tile.name }}</h2>
                    </ion-col>
                </ion-row>
                <span class="bottom-right" *ngIf="tile.isModifier">M</span>
            </ion-card>

            <ion-card *ngIf="tile.thumbnail" tappable class="tile" [ngStyle]="{ 'background-image': 'url(' + tile.thumbnail + ')'}" (click)="selectItem(tile)">
                <ion-card-content class="tile-content">
                </ion-card-content>

                <span class="bottom-right" *ngIf="tile.isModifier">M</span>
            </ion-card>
        </ion-col>
        <ion-col text-center *ngIf="items.length === 0">{{emptyListMessage || 'Please use back office to add new products and services.'}}</ion-col>
    </ion-row>
</ion-grid>