@import "../../theme/variables";

.tile {
  font-size: 1.4rem;
  background: $tile-background-color;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $tile-background-color-border;
  border-top: 2px solid $tile-background-color-top-border;
  cursor: pointer;
}

.tile:hover {
  background-color: $tile-hover-background-color;
  color: $tile-hover-color;
}