<md-grid-list cols="4" rowHeight="2:2" gutterSize="10px"
  dnd-sortable-container [sortableData]="items">
  <md-grid-tile
      class="tile"
      *ngFor="let tile of items; let i = index" (tap)="selectItem(tile)"
      dnd-sortable [sortableIndex]="i"
      [colspan]="1"
      [rowspan]="1" tapabble>
      <sp-icon [icon]="tile.icon"></sp-icon>
      <md-grid-tile-footer [style.background]="'#3A4953'">
        <h2 md-line>{{ tile.name }}</h2>
      </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>