@import "../../node_modules/angular-calendar/scss/angular-calendar";
@import "../theme/variables";
@import "../theme/variables.barber";
@import "../theme/variables.coffee-shop";

.text-right {
  text-align: right
}

.pull-right {
  float: right;
  text-align: right;
}

.pull-left {
  float: left;
  text-align: left;
}

.clickable {
  cursor: pointer;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.link {
  text-decoration: none;
}

.error-text {
  color: color($colors, danger);
}

.scrollable-component {
  overflow-y: auto;
  height: 200px;
}

.menu-list{
  
  background-color: color($colors, dark);

  .menu-item {
    background-color: color($colors, dark) !important;
    color: $menu-item-color;
    font-family: "Segoe UI";
    font-size: 16pt;
    .item-inner{
      border: 0 !important;
    }
  }

  .current {
    background-color: color($colors, selected) !important;
    color: $menu-item-selected-color;
  }
}

ion-title.ion-title-center {
  text-Align:center;
}

.header-toolbar {
  background-color: color($colors, dark);
}


ion-title
{
  .toolbar-title {
  font-family: "Segoe UI";
  font-size: 16pt;
  }
}

ion-icon {
  &[class*="simpleidea-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="simpleidea-edit"] {
    mask-image: url(../assets/img/edit.svg);
  }
}

.item-label-stacked .text-input-md,
.item-label-floating .text-input-md {
  margin-left: 8px;
}

.no-scroll > .scroll-content{
  overflow: hidden;
}

.barber {
  .error-text {
    color: color($colors-barber, danger);
  }

  .header-toolbar {
    background-color: color($colors-barber, dark);
  }

  .menu-list{

    background-color: color($colors-barber, dark);

    .menu-item {
      background-color: color($colors-barber, dark) !important;
      color: $menu-item-color-barber;
    }

    .current {
      background-color: color($colors, selected) !important;
      color: $menu-item-selected-color-barber;
    }
  }
}

.coffee-shop {
  .error-text {
    color: color($colors-coffee-shop, danger);
  }

  .header-toolbar {
    background-color: color($colors-coffee-shop, dark);
  }

  .menu-list{

    background-color: color($colors-coffee-shop, dark);

    .menu-item {
      background-color: color($colors-coffee-shop, dark) !important;
      color: $menu-item-color-coffee-shop;
    }

    .current {
      background-color: color($colors-coffee-shop, selected) !important;
      color: $menu-item-selected-color-coffee-shop;
    }
  }
}