<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Device</ion-title>
    <ion-buttons end>
      <button type="button" ion-button icon-only (click)="save()">
        Save
      </button>
      <button *ngIf="action == 'Edit'" ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list-header>Details</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label class="item-name">Name </ion-label>
      <ion-input type="text" [(ngModel)]="device.name" name="name" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>POS</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-md-12 *ngIf="registers && registers.length > 0">
            <ion-list inset *ngFor="let pos of registers ; let idx=index">
              <ion-item-sliding class="sliding">
                <ion-item (click)="showPos(pos)">
                  <h2 class="item-title">{{pos.name}}
                    <span class="pull-right">{{pos.status ? 'Opened' : 'Closed'}}</span>
                  </h2>
                </ion-item>
                <ion-item-options>
                  <button ion-button color='danger' icon=left>
                    <ion-icon name="trash"></ion-icon>
                    Delete
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-label class="item-name">Type </ion-label>
    <ion-input type="text" [(ngModel)]="device.type" name="name" required></ion-input>
  </ion-list>
</ion-content>