<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Product</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveProducts()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="item-name">Name</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Brand</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.brand"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">SKU/Barcode</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.sku"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Tags</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.tag"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Count</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.count"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select [(ngModel)]="productItem.categoryIDs" multiple="true">
        <ion-option *ngFor="let item of categories ; let idx=index" value={{item._id}}>{{item.name}}</ion-option>
      </ion-select>

    </ion-item>
  </ion-list>
  <div class="insert-image">
    <p>
      <ion-label class="item-addImageLabel">Add Image</ion-label>
      <button ion-button icon-only (click)="addImage()"><ion-icon name="camera"></ion-icon></button>
    </p>
  </div>
  <ion-list inset>
    <ion-item>
      <ion-label class="item-name">Employeer</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.employeer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Variant</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.variant"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Description</ion-label>
      <ion-textarea class="item-text" [(ngModel)]="productItem.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">SKU:</ion-label>
      <ion-input type="text" [(ngModel)]="productItem.sku"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click)="selectIcon()">Select Icon</button>
      <span *ngIf="selectedIcon"><sp-icon [icon]="productItem.icon.name"></sp-icon>&nbsp;{{ productItem.icon.name }}</span>
    </ion-item>
  </ion-list>

  <!-- Default Price Book  -->
  <ion-grid>
    <ion-row>
      <ion-col col-md-12 class="pull-left"><h3>Default Price Book</h3></ion-col>
    </ion-row>    
    <ion-row>
      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>Supply price</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.supplyPrice" (change)="calculate('supplyPrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>x Markup (%)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.markup" (change)="calculate('markup', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Excl.)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.retailPrice" (change)="calculate('retailPrice', defaultPriceBook)" required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-3>
        <ion-item item-content>
          <ion-label color="primary" stacked>+ Sales Tax</ion-label>
          <ion-select [(ngModel)]="defaultPriceBook.tax" (ionChange)="calculate('salesTax', defaultPriceBook)">
            <ion-option [value]="tax" *ngFor="let tax of salesTaxes">{{ tax.name }} {{ tax.noOfTaxes ? tax.noOfTaxes.length : '' }} <small>({{ tax.rate }}%)</small></ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Incl.)</ion-label>
          <ion-input type="number" 
            [(ngModel)]="defaultPriceBook.item.inclusivePrice"
            (change)="calculate('inclusivePrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>