<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Product</ion-title>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="productForm.ngSubmit.emit()" [disabled]="!productForm.form.valid || !productItem.categoryIDs || productItem.categoryIDs.length == 0">
        Save
      </button>
      <button ion-button icon-only (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge *ngIf="isStockEnabled">
    <button ion-fab type="button">
      <ion-icon name="albums"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab type="button" (click)="stockUpdate().increase()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-fab type="button" (click)="stockUpdate().decrease()">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <form (ngSubmit)="saveProducts()" #productForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label class="item-name" stacked>Name*</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name" stacked>Barcode</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.barcode" name="barcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name" stacked>Tags</ion-label>
        <ion-input type="text" [(ngModel)]="productItem.tag" name="tag"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Is Modifier?</ion-label>
        <ion-checkbox [checked]="productItem.isModifier" name="isModifier" [(ngModel)]="productItem.isModifier"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label stacked>Categories</ion-label>
        <ion-select [(ngModel)]="productItem.categoryIDs" multiple="true" name="category" *ngIf="this.categories.length>0">
          <ion-option *ngFor="let item of categories ; let idx=index" value={{item._id}}>{{item.name}}</ion-option>
        </ion-select>
        <ion-input type="text" disabled="true" *ngIf="this.categories.length==0">
          no category. There is no category. Please add category first
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Brand</ion-label>
        <ion-select [(ngModel)]="productItem.brandId" name="brandId" *ngIf="this.brands.length>0">
          <ion-option *ngFor="let brand of brands ; let idx=index" value={{brand._id}}>{{brand.name}}</ion-option>
        </ion-select>
        <ion-input type="text" disabled="true" *ngIf="this.brands.length==0" value="no brand.There is no brand. Please add brand first">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Supplier</ion-label>
        <ion-select [(ngModel)]="productItem.supplierId" name="supplierId" *ngIf="this.suppliers.length>0">
          <ion-option *ngFor="let supplier of suppliers" value={{supplier._id}}>{{supplier.name}}</ion-option>
        </ion-select>
        <ion-input type="text" disabled="true" *ngIf="this.suppliers.length==0" value="no supplier. There is no supplier. Please add supplier first">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list inset>
      <ion-item>
        <ion-label class="item-name" stacked>Description</ion-label>
        <ion-textarea class="item-text" [(ngModel)]="productItem.description" name="description"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>


  <!-- Default Price Book  -->
  <ion-grid>
    <ion-row>
      <ion-col col-md-12 class="pull-left">
        <h3>Pricing</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>Supply price</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.supplyPrice" (change)="calculate('supplyPrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>x Markup (%)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.markup" (change)="calculate('markup', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Excl.)*</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.retailPrice" (change)="calculate('retailPrice', defaultPriceBook)"
            required></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-md-3>
        <ion-item item-content>
          <ion-label color="primary" stacked>+ Sales Tax</ion-label>
          <ion-select [(ngModel)]="defaultPriceBook.tax" (ionChange)="calculate('salesTax', defaultPriceBook)">
            <ion-option [value]="tax" *ngFor="let tax of salesTaxes">{{ tax.entityTypeName == 'GroupSaleTax' ? 'Group Tax - ' + tax.name : tax.name }}
              <small>({{ tax.rate }}%)</small>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-md-2>
        <ion-item item-content>
          <ion-label color="primary" stacked>= Retail Price (Incl.)</ion-label>
          <ion-input type="number" [(ngModel)]="defaultPriceBook.item.inclusivePrice" (change)="calculate('inclusivePrice', defaultPriceBook)">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-md-11 class="pull-left">
        <h2>Enable Stock Control</h2>
      </ion-col>
      <ion-col col-md-1 class="pull-right">
        <ion-toggle [(ngModel)]="isStockEnabled" (ngModelChange)="onStockToggle($event)"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="isStockEnabled">
    <ion-list *ngFor="let storeStock of storesStock">
      <ion-item-group>
        <ion-item-divider color="dark">{{storeStock.store.name}}</ion-item-divider>
        <ion-item>
          <ion-label class="item-name" stacked>Available Stock</ion-label>
          <ion-input type="number" disabled="true" [(ngModel)]="storeStock.value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name" stacked>Supplier</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name" stacked>Reorder Point</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="item-name" stacked>Reorder Qty</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-list inset>
        <ion-item>
          <color-picker [selectedColor$]="color"></color-picker>
        </ion-item>

        <ion-item>
          <button class="pull-left" ion-button (click)="selectIcon()">Select Icon</button>
          <sp-icon class="pull-left" *ngIf="selectedIcon" [icon]="icons[productItem.icon.name]"></sp-icon>
          <span *ngIf="selectedIcon">&nbsp;{{ productItem.icon.name }}</span>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="insert-image">
          <p>
            <image-picker [selectedImage$]="image" [selectedThumbnail$]="thumbnail"></image-picker>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="productItem.stockControl">
    <ion-row>
      <ion-col col-md-9 class="pull-left">
        <h2>Stock History</h2>
      </ion-col>
      <ion-col col-md-3 class="pull-right">
        <ion-item>
          <ion-label color="primary" stacked>Select Store</ion-label>
          <ion-select [(ngModel)]="selectedStore">
            <ion-option [value]="storeStock.storeId" *ngFor="let storeStock of storesStock">
              {{storeStock.store.name}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-2>
        <strong>Time & Date</strong>
      </ion-col>
      <ion-col col-md-2>
        <strong>Action</strong>
      </ion-col>
      <ion-col col-md-2>
        <strong>Qty. Adjusted</strong>
      </ion-col>
      <ion-col col-md-2>
        <strong>Cost Price</strong>
      </ion-col>
      <ion-col col-md-2>
        <strong>Stock at hand</strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let history of stockHistory[selectedStore]">
      <ion-col col-md-2>{{ history.createdAt | localDate:'DD/M/YYYY, h:mm a' }}</ion-col>
      <ion-col col-md-2>{{ history.reason }}</ion-col>
      <ion-col col-md-2>{{ history.value > 0 ? '+'+history.value : history.value }}</ion-col>
      <ion-col col-md-2>{{ history.supplyPrice }}</ion-col>
      <ion-col col-md-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>