<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Employee</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="item-name">First Name:</ion-label>
      <ion-input type="text" [(ngModel)]="item.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Last Name:</ion-label>
      <ion-input type="text" [(ngModel)]="item.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Address:</ion-label>
      <ion-input type="text" [(ngModel)]="item.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Phone:</ion-label>
      <ion-input type="text" [(ngModel)]="item.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Is Admin</ion-label>
      <ion-checkbox [(ngModel)]="item.isAdmin"></ion-checkbox>
    </ion-item>
     <ion-item>
      <ion-list>
        <ion-item-sliding *ngFor="let store of stores">
          <ion-item>
            <h2>{{store.name}}</h2>
          </ion-item>
          <ion-item-options side="right" *ngIf="!item.isAdmin">
            <button ion-button [color]="store.role == 'staff' ? 'primary' : 'light'">
              <ion-icon name="person"></ion-icon>
              Staff
            </button>
            <button ion-button [color]="store.role == 'manager' ? 'primary' : 'light'">
              <ion-icon name="person"></ion-icon>
              Manager
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item>    
  </ion-list>
    

</ion-content> 
 