<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Employee</ion-title>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="employeeForm.ngSubmit.emit()" [disabled]="!employeeForm.form.valid">
        save
      </button>
      &nbsp;
      <button ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()" #employeeForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label class="item-name">First Name</ion-label>
        <ion-input type="text" [(ngModel)]="employee.firstName" name="firstName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="employee.lastName" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Address</ion-label>
        <ion-input type="text" [(ngModel)]="employee.address" name="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-name">Phone</ion-label>
        <ion-input type="text" [(ngModel)]="employee.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Is Admin</ion-label>
        <ion-toggle [(ngModel)]="employee.isAdmin" name="isAdmin" (ionChange)="employee.isAdmin && (employee.isActive = true)"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="!employee.isAdmin">
        <ion-label>Status</ion-label>
        <ion-toggle [(ngModel)]="employee.isActive" name="isActive"></ion-toggle>
      </ion-item>
      <ion-item>
        <button ion-button type="button" (click)="setPin()" color="{{ !employee.pin ? 'default' : 'primary' }}">{{ !employee.pin ? 'Set PIN' : 'Reset PIN' }}</button>
      </ion-item>
    </ion-list>
  </form>

  <!-- Roles Selectables [start] -->
  <ion-list *ngIf="!employee.isAdmin">
    <ion-item *ngFor="let store of stores; let i = index">
      <ion-card class="clickable" (click)="selectRoles(store, i)" [ngClass]="{ 'store-tile': !store.selected, 'store-tile-selected': store.selected }" >
        <ion-card-header text-center>
          {{store.name}}
        </ion-card-header>
        <ion-card-content text-center>
          <span>{{store.name}} description</span>
        </ion-card-content>
        <ion-card-content text-center>
          {{store.name}} other employees can appear here
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!-- Roles Selectables [end] -->
  
</ion-content>