<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Employee</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        {{action}}
      </button>
      &nbsp;
      <button ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="item-name">First Name:</ion-label>
      <ion-input type="text" [(ngModel)]="employee.firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Last Name:</ion-label>
      <ion-input type="text" [(ngModel)]="employee.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Address:</ion-label>
      <ion-input type="text" [(ngModel)]="employee.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="item-name">Phone:</ion-label>
      <ion-input type="text" [(ngModel)]="employee.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Is Admin</ion-label>
      <ion-checkbox [(ngModel)]="employee.isAdmin"></ion-checkbox>
    </ion-item>
    <ion-item>
      <button ion-button (click)="setPin()" color="{{ !employee.pin ? 'default' : 'primary' }}">{{ !employee.pin ? 'Set PIN' : 'Reset PIN' }}</button>
    </ion-item>
  </ion-list>
  
  <!-- Roles Selectables [start] -->
  <ion-grid>
    <ion-row>
      <ion-col col-md-4>
        <ion-list class="scrollable-component">
          <ion-item *ngFor="let store of stores">
            <ion-label>{{store.name}}</ion-label>
            <ion-checkbox color="primary" [(ngModel)]="store.selected" name="storeSelected"></ion-checkbox>
            <ion-radio [value]="store._id"></ion-radio>
          </ion-item>
        </ion-list>      
      </ion-col>
      <ion-col col-md-8>
        <!-- <ion-list class="scrollable-component">
          <ion-item *ngFor="let role of roles">
            <ion-label>{{role}}</ion-label>
            <ion-checkbox color="primary" name="role"></ion-checkbox>
          </ion-item>
        </ion-list> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Roles Selectables [end] -->

</ion-content>