<ion-header>
  <ion-toolbar>
    <ion-title>
       {{ text }} Customer
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="searchBarEnabled" autofocus debounce="500" [(ngModel)]="searchInput" [showCancelButton]="showSearchCancel"
                 (ionInput)="searchCustomers($event)" (ionCancel)="cancelSearch($event)" placeholder="Search Customer">
  </ion-searchbar>


  <button *ngIf="searchBarEnabled" class="pull-right" ion-button (click)="addCustomer()">
    Add Customer
  </button>


  <ion-list class="search-list" *ngIf="searchBarEnabled && searchInput && searchedCustomers.length > 0">
    <ion-item *ngFor="let item of searchedCustomers" (click)="assignCustomer(item, $event)">
      {{ item.firstName }} {{ item.lastName }}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="customer && searchBarEnabled">
    <ion-item>
      {{ customer.firstName }} {{ customer.lastName }}
    </ion-item>
  </ion-list>
  <form *ngIf="!searchBarEnabled" [formGroup]="customerForm">
    <ion-grid>
      <ion-row>
        <ion-col col-md-12>
          General Details
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-6>
          <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input type="text" [formControl]="firstName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-item>
            <ion-label stacked>Last Name</ion-label>
            <ion-input type="text" [formControl]="lastName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-6>
          <ion-item>
            <ion-label stacked>Suburb</ion-label>
            <ion-input type="text" [formControl]="suburb"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-item>
            <ion-label stacked>Address</ion-label>
            <ion-input type="text" [formControl]="address"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-item>
            <ion-label stacked>Postcode</ion-label>
            <ion-input type="text" [formControl]="postcode"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-md-12>
          Contact Details
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-6>
          <ion-item>
            <ion-label stacked>Phone</ion-label>
            <ion-input type="text" [formControl]="phone"></ion-input>
          </ion-item>
          <ion-item *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
            Invalid phone number. It should only contain numbers, hiphens and a single + sign
          </ion-item>
        </ion-col>
        <ion-col col-md-6>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" [formControl]="email"></ion-input>
          </ion-item>
          <ion-item *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            Invalid email address
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>

<ion-footer>
  <button *ngIf="!searchBarEnabled" ion-button class="pull-right" (click)="create()" [disabled]="!customerForm.valid">{{ text }}</button>
</ion-footer>