<ion-header>
  <ion-navbar>
    <ion-title>Employees</ion-title>
    <button ion-button icon-only menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="showDetail()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row *ngIf="searchFilters.length">
    <ion-col [attr.col-md-10]="filter.type == 'Text' ? '' : undefined" [attr.col-md-2]="filter.type == 'Boolean' ? '' : undefined" *ngFor="let filter of searchFilters">
      <ion-searchbar  *ngIf="filter.type == 'Text'" [(ngModel)]="models[filter['variableName']]" debounce="500" animated="true" placeholder="{{filter.placeholderText}}" (ionInput)="searchByText(filter, models[filter['variableName']])"></ion-searchbar>
      <ion-select *ngIf="filter.type =='Boolean'" [(ngModel)]="models[filter['variableName']]" (ngModelChange)="filterList(filter, models[filter['variableName']] )">
        <ion-option *ngFor="let status of statusList" [value]="status.value">{{ status.text }}</ion-option>
      </ion-select>
    </ion-col>
    <!--<ion-col col-md-10>
      <ion-searchbar debounce="500" animated="true" placeholder="Search by name" (ionInput)="searchByName($event)"></ion-searchbar>
    </ion-col>
    <ion-col col-md-2>
      <ion-select [(ngModel)]="selectedStatus" (ionChange)="searchByStatus()">
        <ion-option *ngFor="let status of statusList" [value]="status.value">{{ status.text }}</ion-option>
      </ion-select>
    </ion-col>-->
  </ion-row>
  <ion-list inset *ngFor="let item of items ; let idx=index">
    <ion-item-sliding class="sliding">
      <ion-item (click)="showDetail(item)">
        <ion-grid>
        <ion-row>
          <ion-col col-md-1>
            <ion-avatar class="item-avatar" item-left>
            <img src="assets/img/avatar-han.png">
          </ion-avatar>
          </ion-col>
          <ion-col col-md-2 *ngFor="let column of displayColumns;"> <h2 class="item-title" item-left>{{item[column.variableName]}}</h2></ion-col>
        </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options>
        <button ion-button color='danger' (click)="remove(item, idx)" icon=left>
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="fetchMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>