page-productsDetails {

   .insert-image{
      height: 25%;
      margin-left: 4%;
      margin-right: 4%;
      text-align: center;
      color:white;
      font-size: 15px;
      border-radius: 3px;
      .item-addImageLabel{
          padding-top:10px;
      }
   }
}
