page-products {
    .sliding{
        background-color: #329e52;
    }
    .btn-left{
        width: 25%;        
    }
    .btn-right{
        width: 25%;       
    }
   .item-editbtn{
       color:white;
       background-color: transparent;
       font-size: 20px;
       text-align: center;
   }
}
