@import "../../theme/variables";
@import "../../theme/variables.barber";
@import "../../theme/variables.coffeeshop";

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap
}

ion-card.element-tile {
  width: 8em;
  height: 8em;
  display: inline-block;
  box-shadow: none;
  background: $tile-background-color;
  border: 1px solid $tile-background-color-border;
  cursor: pointer;
}

ion-card.selected-element-tile {
  width: 8em;
  height: 8em;
  background: $tile-background-color;
  display: inline-block;
  cursor: pointer;
  border: 3px solid $tile-hover-background-color;
  box-shadow: none;
}

ion-card.disabled-element-tile {
  width: 8em;
  height: 8em;
  display: inline-block;
  box-shadow: none;
  background: $list-background-color;
  border: 1px solid $tile-background-color-border;
  cursor: not-allowed;

  ion-item {
    color: $toolbar-md-text-color;
  }
}

// Themes //
.barber {
  ion-card.element-tile {
    background: $tile-background-color-barber;
    border: 1px solid $tile-background-color-border-barber;
  }
  ion-card.selected-element-tile {
    background: $tile-background-color-barber;
    border: 3px solid $tile-hover-background-color-barber;
  }
  ion-card.disabled-element-tile {
    background: $list-background-color-barber;
    border: 1px solid $tile-background-color-border-barber;
    ion-item {
      color: $toolbar-md-text-color-barber;
    }
  }
}

.coffeeshop {
  ion-card.element-tile {
    background: $tile-background-color-coffeeshop;
    border: 1px solid $tile-background-color-border-coffeeshop;
  }
  ion-card.selected-element-tile {
    background: $tile-background-color-coffeeshop;
    border: 3px solid $tile-hover-background-color-coffeeshop;
  }
  ion-card.disabled-element-tile {
    background: $list-background-color-coffeeshop;
    border: 1px solid $tile-background-color-border-coffeeshop;
    ion-item {
      color: $toolbar-md-text-color-coffeeshop;
    }
  }
}
// Themes //