<ion-header>
  <ion-navbar>
    <ion-title>Orders</ion-title>
    <button ion-button icon-only menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="view()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end network-monitor></ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngIf="searchFilters.length">
      <ion-col [attr.col-md-8]="filter.type == 'Text' ? '' : undefined" [attr.col-md-2]="filter.type == 'Boolean' ? '' : undefined" *ngFor="let filter of searchFilters">
        <ion-searchbar  *ngIf="filter.type == 'Text'" [(ngModel)]="models[filter['variableName']]" debounce="500" animated="true" placeholder="{{filter.placeholderText}}" (ionInput)="searchByText(filter, models[filter['variableName']])"></ion-searchbar>
      </ion-col>
      <ion-col col-md-4>
        <ion-select [(ngModel)]="selectedOrderStatus" (ionChange)="searchByOrderStatus()">
          <ion-option *ngFor="let status of orderStatuses" [value]="status.value">{{ status.text }}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-md-2>
            <strong>Order No#</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Created Date</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Supplier</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Status</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Shop</strong>
          </ion-col>
          <ion-col col-md-2>
            <strong>Total Cost</strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list *ngFor="let order of items; let idx = index;">
    <ion-item-sliding class="sliding" cancelable=true>
      <ion-item  (click)="view(order)">
        <ion-grid>
          <ion-row>
            <ion-col col-md-2 *ngFor="let column of displayColumns;"> <h2 class="item-title" item-left>{{order[column.variableName]}}</h2></ion-col>
            <ion-col col-md-2>
              {{ order.createdAt }}
            </ion-col>
            <ion-col col-md-2>
              {{ order.supplierName }}
            </ion-col>
            <ion-col col-md-2>
              <ion-badge [color]="labels[order.status].color">{{ labels[order.status].text }}</ion-badge>
            </ion-col>
            <ion-col col-md-2>
              {{ order.storeName }}
            </ion-col>
            <ion-col col-md-2>
              {{ order.totalCost }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options *ngIf="order.status == 'ordered'">
        <button ion-button color='danger' (click)="cancelOrder(order, idx)" icon=left>
          <ion-icon name="trash"></ion-icon>
          Cancel
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="fetchMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>