@import '../../theme/variables';
.full-height {
  height: 100%
}

.no-margin {
  margin: 0;
}

.sales-category {
  background-color: white;
  button {
    text-align: center;
    color: #585858;
    background-color: white;
    .category-icon {
      padding-bottom: 10px;
      display: block;
    }
  }
  .activeCategory {
    color: #000000;
    background-color: #F7F7F7;
    .category-icon {
      color: #000000;
    }
  }
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.basket-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $basket-background-color;
}

.staff-tile {
  background: $tile-background-color;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $tile-background-color-border;
  border-radius: 8px;
  cursor: pointer;
}

.selected-staff-tile {
  background: $tile-background-color;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $tile-background-color-border;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid $tile-hover-background-color;
  border-radius: 8px;
}