<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-Align:center">Sales</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-grid *ngIf="!register.status">
    <ion-row>
      <ion-col col-md-6 offset-md-3>
        <form (ngSubmit)="onSubmit()" #salesForm="ngForm">
          <h2 text-center>Register Closed</h2>
          <h5 text-center>Set an opening float to open the register and make sale</h5>

          <ion-label stacked>Opening Float</ion-label>
          <ion-input type="text" placeholder="$0.00" [(ngModel)]="register.openingAmount" name="openingAmount" required></ion-input>

          <ion-label color="primary" stacked>Notes <small>optional</small></ion-label>
          <ion-textarea placeholder="Enter Note" [(ngModel)]="register.openingNote" name="openingNote">
          </ion-textarea>

          <button ion-button color="primary" block type="submit">
            Open Register
          </button>
        </form>
      </ion-col>
      <ion-col col-md-3>
        <!-- fill empty space -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="register.status" class="full-height">
    <ion-row class="full-height">
      <ion-col col-2>
        <ion-list no-lines class="full-height no-margin sales-category">
          <button ion-item *ngFor="let category of categories" class="sales-category-button text-wrap" [ngClass]="{'activeCategory': category._id == activeCategory._id }"
            (click)="itemSelected(category)">
                <sp-icon class="category-icon" [icon]="category.icon"></sp-icon>
              {{ category.name }}
          </button>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <tile-items [items]="activeTiles" (onSelect)="onSelect($event)">
        </tile-items>
      </ion-col>
      <ion-col col-4>
        <basket [_invoice]="invoice" [refund]="doRefund" class="basket-component" (paymentClicked)="paymentClicked($event)"></basket>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>