<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-Align:center">Sales</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-grid *ngIf="!register.status">
    <ion-row>
      <ion-col col-md-6 offset-md-3>
        <form (ngSubmit)="onSubmit()" #salesForm="ngForm">
          <h2 text-center>Register Closed</h2>
          <h5 text-center>Set an opening float to open the register and make sale</h5>

          <ion-label stacked>Opening Float</ion-label>
          <ion-input type="text" placeholder="$0.00" [(ngModel)]="register.openingAmount" name="openingAmount" required></ion-input>

          <ion-label color="primary" stacked>Notes <small>optional</small></ion-label>
          <ion-textarea placeholder="Enter Note" [(ngModel)]="register.openingNote" name="openingNote">
          </ion-textarea>

          <button ion-button color="primary" block type="submit">
            Open Register
          </button>
        </form>
      </ion-col>
      <ion-col col-md-3>
        <!-- fill empty space -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="register.status" class="full-height">
    <ion-row class="full-height">
      <ion-col col-2>
        <ion-list no-lines class="full-height no-margin sales-category">
          <button ion-item *ngFor="let category of categories" class="sales-category-button text-wrap" [ngClass]="{'activeCategory': category._id == activeCategory._id }"
            (click)="itemSelected(category)">
                <span class="category-icon {{category.icon}}">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span>
                </span>
                <!--<ion-icon class="category-icon "></ion-icon>-->
              {{ category.name }}
          </button>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <tile-items [items]="activeTiles" (onSelect)="onSelect($event)">
        </tile-items>
      </ion-col>
      <ion-col col-4>
        <basket [_invoice]="invoice" class="basket-component" (paymentClicked)="paymentClicked($event)"></basket>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>