<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-Align:center">Sales</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="full-height">
    <ion-row class="full-height">
      <ion-col col-2>
        <ion-list>
          <button ion-item *ngFor="let category of categories" class="text-wrap" [ngClass]="{'activeCategory': category._id == activeCategory._id }"
            (click)="itemSelected(category)">
              {{ category.name }}
          </button>
        </ion-list>
      </ion-col>
      <ion-col col-4>
        <tile-items [items]="activeTiles" (onSelect)="onSelect($event)">
        </tile-items>
      </ion-col>
      <ion-col col-6>
        <!-- Bucket [start]  -->
        <ion-grid class="top-component">
          <ion-row>
            <ion-col col-12>
              <ion-list>
                <!-- Items in the bucket [start] -->
                <ion-item *ngFor="let item of itemsInBucket; let $index=index" 
                [ngClass]="{active: isItemShown(item._id)}">

                  <ion-grid>
                    <ion-row>
                      <ion-col col-md-1>
                        {{item.e.quantity}}
                      </ion-col>
                      <ion-col col-md-2>
                        {{item.name}}
                      </ion-col>
                      <ion-col col-md-2>

                      </ion-col>
                      <ion-col col-md-2 offset-md-3 class="pull-right">
                        ${{item.e.quantity > 1 ? item.e.quantityPrice : item.price}}
                      </ion-col>
                      <ion-col col-md-1 class="pull-right">
                        <ion-icon name="trash" class="clickable" (click)="removeFromBasket(item, $index)"></ion-icon>
                      </ion-col>
                      <ion-col col-md-1 class="pull-right">
                        <ion-icon color="success" class="clickable"
                        (click)="toggleItem(item._id)"
                        [name]="isItemShown(item._id) ? 'arrow-dropdown' : 'arrow-dropright'">
                        </ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <div *ngIf="isItemShown(item._id)">
                    <ion-grid>
                      <ion-row>

                        <!-- Quantity -->
                        <ion-col col-md-4>
                          <ion-item item-content>
                            <ion-label color="primary" stacked>Quantity</ion-label>
                            <ion-input type="number" min="1" 
                            [ngModel]="item.e.quantity" 
                            (ngModelChange)="addQuantity($event, $index); oldValue = item.e.quantity;"></ion-input>
                          </ion-item>
                        </ion-col>

                        <!-- Price -->
                        <ion-col col-md-4>
                          <ion-item item-content>
                            <ion-label color="primary" stacked>Price</ion-label>
                            <ion-input type="text" [value]="item.e.quantity > 1 ? item.e.quantityPrice : item.price" disabled></ion-input>
                          </ion-item>            
                        </ion-col>

                        <!-- Discount -->
                        <ion-col col-md-4>
                          <ion-item item-content>
                            <ion-label color="primary" stacked>Discount(%)</ion-label>
                            <ion-input type="number" [(ngModel)]="item.e.discount" min="0" max="99" (change)="calculateDiscount($index)"></ion-input>                             
                          </ion-item>
                        </ion-col>

                        <ion-col col-md-12>
                          <ion-item item-content>
                            <ion-label color="primary" stacked>Notes</ion-label>
                            <ion-textarea placeholder="Type to add note..."></ion-textarea>
                          </ion-item>
                        </ion-col>

                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-item>
                <!-- Items in the bucket [end] -->

              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid class="bottom-component">
          <ion-row>
            <ion-col col-12>
              <span text-left>Discount</span>
              <span text-right>$0.00</span>
            </ion-col>
            <ion-col col-12>
              <span text-left>Subtotal</span>
              <span text-right>${{total}}</span>
            </ion-col>
            <ion-col col-12>
              <span text-left>Tax (GST)</span>
              <span text-right>{{tax}}%</span>
            </ion-col>
            <ion-col col-12>
              <span text-left>Total</span>
              <span text-right>${{totalWithTax}}</span>
            </ion-col>
            <ion-col col-12>
              <button ion-button block><span text-left>Pay </span><span text-right>${{total}}</span></button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- Bucket [end] -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>