@import '../../theme/variables';
@import '../../theme/variables.barber';
@import '../../theme/variables.coffee-shop';

open-close-register {
  .sub-drawer {
    background-color: $toolbar-md-text-color;
    border-left: 3px solid color($colors, secondary);
  }
}

// Themes //
.barber {
  open-close-register {
    .sub-drawer {
      background-color: $toolbar-md-text-color-barber;
      border-left: 3px solid color($colors-barber, secondary);
    }
  }
}

.coffee-shop {
  open-close-register {
    .sub-drawer {
      background-color: $toolbar-md-text-color-coffee-shop;
      border-left: 3px solid color($colors-coffee-shop, secondary);
    }
  }
}
// Themes //