<ion-header>
  <ion-navbar>
    <ion-title>{{action}} Device</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button type="submit" ion-button icon-only (click)="deviceForm.ngSubmit.emit()" [disabled]="!deviceForm.form.valid">
        Done
      </button>
      <button *ngIf="action == 'Edit'" ion-button icon-only (click)="remove()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #deviceForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label class="item-name" stacked>Name*</ion-label>
        <ion-input type="text" [(ngModel)]="device.name" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>POS</ion-label>
        <ion-select [(ngModel)]="device.posIds" multiple="true" name="posId">
          <ion-option *ngFor="let pos of posList" value={{pos.id}}>{{pos.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Type*</ion-label>
        <ion-select [(ngModel)]="device.type" interface="action-sheet" multiple="false" name="type" required>
          <ion-option *ngFor="let type of typeList" value={{type.value}}>{{type.text}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="device.type == deviceType.ProductionLinePrinter || device.type == deviceType.ReceiptPrinter">
        <ion-label class="item-name" stacked>IP Address*</ion-label>
        <ion-input type="text" [pattern]="patternIpAddress" [(ngModel)]="device.ipAddress" name="ipAddress" required></ion-input>
      </ion-item>

      <ion-item *ngIf="device.type == deviceType.ProductionLinePrinter || device.type == deviceType.ReceiptPrinter">
        <ion-label class="item-name" stacked>Printer Port*</ion-label>
        <ion-input type="text" [pattern]="patternPrinterPort" [(ngModel)]="device.printerPort" name="printerPort" required></ion-input>
      </ion-item>

      <ion-item *ngIf="device.type == deviceType.ProductionLinePrinter || device.type == deviceType.ReceiptPrinter">
        <ion-label stacked>Character Per Line*</ion-label>
        <ion-select [(ngModel)]="device.characterPerLine" multiple="false" name="characterPerLine" required>
          <ion-option value=48>48</ion-option>
          <ion-option value=42>42</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <searchable-ion-select isModal="true" multiple="true" name="purchasableItems" [(ngModel)]="associatedPurchasableItems" title="Products and Services"
          valueField="_id" textField="name" [items]="purchasableItems">
        </searchable-ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>