<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-Align:center">Sales History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-md-4>
        <ion-list>
          <ion-item>
            <ion-label>{{ selectedStatus.text }}</ion-label>
            <ion-select [(ngModel)]="selectedStatus">
              <ion-option *ngFor="let status of statusList" [value]="status.value">{{ status.text }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>        
      </ion-col>
      <ion-col col-md-4>
        <p>Customer</p>
        <ion-searchbar (ionInput)="getByCustomer($event)"></ion-searchbar>
      </ion-col>
      <ion-col col-md-4>
        <p>Receipt No#</p>
        <ion-searchbar (ionInput)="getByReceiptNumber($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-md-2><strong>Date</strong></ion-col>
          <ion-col col-md-1><strong>Receipt</strong></ion-col>
          <ion-col col-md-2><strong>Sold by</strong></ion-col>
          <ion-col col-md-2><strong>Customer</strong></ion-col>
          <ion-col col-md-2><strong>Note</strong></ion-col>
          <ion-col col-md-1><strong>Sale Total</strong></ion-col>
          <ion-col col-md-1><strong>Status</strong></ion-col>
          <ion-col col-md-1></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let invoice of invoices; let $index = index">
      <ion-grid>
        <ion-row>
          <ion-col col-md-2>{{ invoice.created | date:'short' }}</ion-col>
          <ion-col col-md-1>1</ion-col>
          <ion-col col-md-2>Omer Wahla</ion-col>
          <ion-col col-md-2>-</ion-col>
          <ion-col col-md-2>{{ invoice.notes }}</ion-col>
          <ion-col col-md-1>{{ invoice.taxTotal }}</ion-col>
          <ion-col col-md-1>
            <strong *ngIf="invoice.completed">Completed</strong>
            <strong *ngIf="!invoice.completed">{{ states[invoice.state] }}</strong>
          </ion-col>
          <ion-col col-md-1 class="clickable">
            <ion-icon name="refresh" text-center *ngIf="invoice.completed" (click)="gotoSales(invoice, true, $index)"></ion-icon>
            <ion-icon name="share-alt" text-center *ngIf="invoice.state == 'parked'" (click)="gotoSales(invoice, false, $index)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>